/***********************************************

 Autores: Diego Antonio Del Greco - Gonzalo Damian Stickar

***********************************************/

/*ESTILOS GENERALES*/

*{
    padding:0;
    margin: 0;
}
html {
    box-sizing: border-box;
}

h2 {
    position:relative;
    top:-7.5px;
    margin:10px;
    font-family: "Calibri";
}

.precio {
    font-size:22px;
    font-style: italic;
    margin:5%;
}

h3 {
    margin:3%;
}

.medios-pago {
    margin-bottom: 6%;
    color:rgb(0,192,245);
}

.lista-detalles {
    margin-top:5%;
    margin-bottom: 2%;
}

header {
    background-color: #F5F5DC;
}

button:hover {
    cursor:pointer;
} 

/*BARRA NAVEGACIÓN*/
#menu-principal {
    margin:0px 2rem 2rem 2rem;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.boton-menu {
    align-self: center;
    width: 125px;
    height: 40px;
    margin:5px;
}

#btn-perfil {
    margin-left:-27.5px;
    margin-right: auto;
    border-radius: 50%;
    border-style:hidden;
    width: 50px;
    height: 50px;
    align-self: center;
    color:white;
    background-color: blue;
}

#btn-carrito {
    margin-left: auto;
    margin-right:-25px;
    width: 100px;
    height: 45.47px;
    align-self: center;
    border-radius: 5px;
    color:white;
    background-color: green;
    border-style:hidden;
}

/*ESTILOS DE BARRA DE NAVEGACIÓN */
#btn-perfil:active {
    background-color: #6c6cffc5;
}

#btn-carrito:active {
    background-color: rgba(0, 128, 0, 0.705);
}

/*MENU-PRINCIPAL*/
.boton-menu:nth-last-child(2) {
    background-color:orange;
}

.boton-menu:nth-last-child(4) {
    margin-left:350px;
}

.boton-menu:nth-last-child(2):active {
    background-color: rgba(255, 170, 0, 0.764);
}

.boton-menu {
    background-color: rgb(47,79,79);
    color:white;
}

.boton-menu:active {
    background-color: rgba(47,79,79, 0.787);
} 

/*MAIN*/

#contenedor-central{
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.plantilla-item {
  min-width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem;
  max-width: 100%;
  align-items: center;
}

.plantilla-izq {
    display:flex;
    flex-direction: column;
    gap:0.1rem;
}

.plantilla-izq button {
    border-radius: 5px;
    color:white;
    background-color: #008B8B;
    height: 30px;
    width: 95%;
    border-style:hidden;
    margin:2.5%;
}

.plantilla-izq button:active {
    background-color:#00A4B1;
}

.plantilla-der {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*ASIDE*/
.barra-secundaria {
    margin: 0.5rem;
    background-color:rgb(95, 158, 160);
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.plantilla-secundaria{
    height: 40px;
    background-color: rgb(250,235,215);
    margin:10px;
}

/*FOOTER*/
footer {
  padding: 1rem;
  height: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
}

@media (min-width: 1100px) {
  #contenedor-central{
    display: flex;
    flex-direction: row;
    align-items: inherit;
    gap: 2rem;
  }
  main{
    flex: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

  }
  .barra-secundaria{
    flex: 1;
  }

  .plantilla-item{
    flex-direction: row;
  }

  .plantilla-item{
    margin: 0;
  }
}

@media (max-width: 950px) {
    #menu-principal {
        flex-direction: column;
    }
    #btn-carrito {
        position:absolute;
        top:0px;
        right:0px;
        margin-left:-27.5px;
        margin-right: auto;
        margin:10px;
    }
    .boton-menu:nth-last-child(4) {
        margin-left:5px;
    }
    .boton-menu {
        width: 100%;
    }
    #btn-carrito {
        margin-top:15px;
        margin-right:15px;
    }
}
